.Button {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
}

.default {
    padding: 10px;
    color: var(--primary-color);
    background: var(--inverted-secondary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px;
}
