.app.dark {
    --bg-color: #232625;
    --bg-color-additional: #4C594F;
    --primary-color: #BFBFB8;
    --secondary-color: #A4A69C;
    --inverted-primary-color: #232625;
    --inverted-secondary-color: #35403A;
}
