.app_grey_theme {
    --bg-color: #f4f9fb;
    --bg-color-additional: #75878f;
    --primary-color: #637972;
    --secondary-color: #f4f9fb;
    --inverted-primary-color: #f4f9fb;
    --inverted-secondary-color: #637972;
}
