.app_light_theme {
    --bg-color: #bfbfb8;
    --bg-color-additional: #4c594f;
    --primary-color: #232625;
    --secondary-color: #35403a;
    --inverted-primary-color: #bfbfb8;
    --inverted-secondary-color: #a4a69c;
}
